body {
    background: #F7F7F7;
    color: #404333;
}

#map {
  width: 66%;
  height: 100%;
  float: right;
}

#list {
    padding: 1em;
}

#list > li:before {
    content: "'-']";
    margin-right: 0.7em;
    color: #FBA922;
}

#list > li {
  line-height: 1.2em;
  cursor: pointer;
}

#result {
    background: #2D3032;
    padding: 1em;
    color: #F7F7F7;
}

#People a:visited { color: #FBA922; }
#People a:link { color: #DD5F18; }
#VisitedAt { font-style: italic; }
#location { font-size: 2em; }
