body {
    background: #F7F7F7;
    color: #404333;
}

/*
li { color: white }
li:nth-child(odd) { background: #2D3032 }
li:nth-child(even) { background: #404333 }
*/
li:hover { color: #FBA922; }
li:active { color: #DD5F18; }

#map {
  width: 66%;
  height: 100%;
  float: right;
}

#ul-list {
    height: 60%;
    overflow: auto;
}

#list {
    padding: 1em;
}

#list > li:before {
    content: "'-']";
    margin-right: 0.7em;
    color: #FBA922;
    background: #F7F7F7;
}

#list > li {
  line-height: 1.2em;
  cursor: pointer;
}

#result {
    background: #2D3032;
    padding: 1em;
    color: #F7F7F7;
}

#People a:visited { color: #FBA922; }
#People a:link { color: #DD5F18; }
#VisitedAt { font-style: italic; }
#location { font-size: 2em; }
