<html>
<head>
<title>Dashboard</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/static/reset-min.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
<script src="http://platform.twitter.com/anywhere.js?id=DQn4FwJUxolRCYvdHeYJUQ&v=1"></script>
<script src="/static/jquery.ev.js"></script>
<script src="/static/pretty.js"></script>
<script>
  var map;
  var location_cache = {};
  function load() {
    var latlng = new google.maps.LatLng(37.541, 127.066);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }
  
  $(function () {   
    var recent_marker;
    var onNewEvent = function (e) {
      try {
        var location = new google.maps.LatLng(e.lat, e.lng);
        if (location_cache[e.id]) return;
        location_cache[e.id] = location;
        var marker = new google.maps.Marker({
          position: location,
          map: map,
    //      animation: google.maps.Animation.DROP,
          icon: e.icon,
          title: e.name
        });
        var date = new Date(e.created_at * 1000);
        var show_status = function () {
           $('#location').html(e.name);
           $('#VisitedAt').html(date.toDateString() + " " + date.toTimeString());
           $('#People').html(e.people);
           twttr.anywhere(function (T) {
             T('#People').hovercards();
           });
           $('#result').show();
           if (recent_marker) {
             recent_marker.setAnimation(null);
           }
           recent_marker = marker;
           if (marker.getAnimation() != null) {
             marker.setAnimation(null);
           } else {
             marker.setAnimation(google.maps.Animation.BOUNCE);
           }
           map.setCenter(location);
        };
        google.maps.event.addListener(marker, 'click', function () {
          show_status();
        });
        map.setCenter(location);

        $('#list').append($('<li/>').html($('<span/>').attr({ class: "venue br" }).html(e.name)).click(function () {
          show_status();
        }));
     } catch (e) { if (console) console.log(e) };
    }

    $.ev.handlers.message = onNewEvent;
    $.ev.loop('/dashboard/poll?client_id=' + Math.random());
});
</script>
</head>
<body onload="load()">
<div id="header" />
<div id="content">
  <div id="map"></div>
  <div id="ul-list"><ul id="list"></ul></div>
  <div id="result">
    <h4 id="location"></h4>
    <div id="VisitedAt"></div>
    <div id="People"></div>
  </div>
</div>
</body>
</html>
